.header {
  margin: 40px;
  font-size: 40px;
  font-weight: bold;

}

.home {
  display: grid;
  grid-template-columns: 1fr 5fr
}


.sidebar {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  font-size: 24px;
  font-weight: bold;
  padding: 30px;
  margin-left: 40px;
  height: 60px;
  background-color: lightblue;


}

.main-screen {
  display: grid;
  border-color: black;
  height: 40px;
}

.question {
  border-color: black;
  border-width: 1px;
}