.class-name {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.category {
  margin: 30px;
}

.exam-date {
  color: grey;
  font-size: 20px;
  margin: 30px;
  margin-top: 10px;
}

.question-image {
  width: 500px;
}

.button {
  background-color: lightblue;
  margin-left: 30px;
  margin-top: 50px;
}